body{
    background-image: url("./img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.title{
    font-size: 3em;
    color: white;
    text-align: center;
    margin: 4%;
}

#container{
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid white;
}