body{
    background-image: url("./img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin:  0;
}

.title{
    font-size: 2em;
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#container{
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    position: relative;
    top: 80px;
    bottom: 50px;
    margin: auto;
    
    
}

.gridshape, .gridbutton, .resetboard{
    padding: 5px;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #d3d3d3;
    font-size: 15px;
    font-weight: bold;
}

.menuitems{
    margin: auto;
    position: relative;
    top: 20px;
    width: 50%;
    display: flex;
    align-content: center;
    justify-content: space-around;
    
}
